extends layout

block content
  div(layout)
    md-sdienav(md-is-locked-open="$mdMedia('gt-sm')").main-menu
      md-content(flex)
        ul.main-menu-list
          li.main-menu-list-item
            a.md-button.md-ink-ripple(ui-sref="home") Home
          li.main-menu-list-item
            a.md-button.md-ink-ripple(ui-sref="dishes") Dishes
          li.main-menu-list-item
            a.md-button.md-ink-ripple(ui-sref="menus") Menus
        
    section(ui-view)